.header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99FFFF;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:700px;
margin-left:auto;
margin-right:auto;
}
.n
{
position:relative;
top:120px;
left:185px;
font-size:36px;
color:#000000;
font-family:"Times New Roman", Times, serif;
}
.menu
{
height:50px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFF99;
}
.menu ul li
{
display:inline;
padding:60px;
}
.menu ul li a
{
font-size:24px;
color:#000000;
text-decoration:none;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#000000;
}
.f
{
color:#CCCCCC;
position:relative;
top:40px;
left:350px;
font-size:15px;
font-family:"Times New Roman", Times, serif;
}
.f
{
color:#CCCCCC;
position:relative;
top:40px;
left:450px;
font-size:15px;
font-family:"Times New Roman", Times, serif;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFCC;
}
.image1
{
float:left;
}
.para1
{
height:200px;
width:700px;
font-size:18px;
color:#000000;
float:right;
text-align:justify;
}
.image2
{
float:right;
}
.para2
{
height:200px;
width:700px;
font-size:18px;
color:#000000;
float:right;
}
.image3
{
float:left;
}
.para3
{
height:200px;
width:700px;
font-size:18px;
color:#000000;
float:right;
}
.about
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CCCCCC;
}
.image1
{
float:left;
}
.image2
{
float:left;
}
.image3
{
float:right;
}
.image4
{
float:left;
}
.image5
{
float:left;
}
.image6
{
float:right;
}
.service
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
font-size:18px;
color:#000000;
font-family:"Times New Roman", Times, serif;
text-align:center;
}
.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CCCCCC;
}
.
{
float:left;
}
.address
{
height:300px;
width:500px;
font-size::24px;
color:#000000;
font-family:Georgia, "Times New Roman", Times, serif;
text-align:center;
float:left;
}
.contact1
{
height:300px;
width:500px;
font-size::24px;
color:#000000;
font-family:Georgia, "Times New Roman", Times, serif;
text-align:center;
float:right;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#666666;
color:#FFFFFF;
font-size:18px;
font-family:Georgia, "Times New Roman", Times, serif;
}
.box1
{
height:500px;
width:600px;
background-color:#66FFFF;
border-radius:15px;
}